In [3]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [33]:
%autoreload 2

import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from src.utils import get_trajectories_df, get_user_ids, get_activities_df

In [36]:
activities = get_activities_df(get_user_ids()[0])

182

In [35]:
get_trajectories_df(get_user_ids()[0])

,latitude,longitude,.,altitude,days,date,time,activity_id
0,39.974294,116.399741,0,492.0,39816.056644,2009-01-03,01:21:34,20090103012134
1,39.974292,116.399592,0,492.0,39816.056655,2009-01-03,01:21:35,20090103012134
2,39.974309,116.399523,0,492.0,39816.056667,2009-01-03,01:21:36,20090103012134
3,39.974320,116.399588,0,492.0,39816.056690,2009-01-03,01:21:38,20090103012134
4,39.974365,116.399730,0,491.0,39816.056701,2009-01-03,01:21:39,20090103012134
...,...,...,...,...,...,...,...,...
2927,39.968194,116.399662,0,81.0,39822.746262,2009-01-09,17:54:37,20090109130304
2928,39.968244,116.399659,0,74.0,39822.746319,2009-01-09,17:54:42,20090109130304
2929,39.968226,116.399657,0,73.0,39822.746377,2009-01-09,17:54:47,20090109130304
2930,39.968250,116.399595,0,102.0,39822.749838,2009-01-09,17:59:46,20090109130304
2931,39.968301,116.399624,0,105.0,39822.749896,2009-01-09,17:59:51,20090109130304